body {
  background-color: #e5e5e5;
  h1 {
    color: #463f3a;
    font-weight: 600;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $primary;
  margin-top: 40px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
