@import "./variable";

.navbar {
  background-color: $primary;
}

.navbar-brand {
  color: #262626;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  margin: auto auto;
  width: 80%;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  text-transform: uppercase;
}
